<div class="row">
    <div class="col-6">
        <app-dona
            [titulo]="titulo"
            [colors]="colors"
            [labels]="doughnutChartLabels"
            [data]="doughnutChartData"
            >
        </app-dona>
    </div>
    <div class="col-6">
        <app-dona
        [colors]="colors"
        [labels]="doughnutChartLabels"
        [data]="doughnutChartData"
        >
    </app-dona>
    </div>
    <div class="col-6">
        <app-dona
            [titulo]="titulo2"
            [colors]="colors2"
            [labels]="doughnutChartLabels2"
            [data]="doughnutChartData2"
            >
        </app-dona>
    </div>
    <div class="col-6">
        <app-dona
            [titulo]="'Ventas'"
            [colors]="colors2"
            [labels]="doughnutChartLabels2"
            [data]="doughnutChartData2"
            >
        </app-dona>
    </div>
</div>


